@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #545b61;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
}

#root {
    height: 100%;
}

#header {
    max-height: 20vh;
}

// Get in front of aside bar
#header > nav {
    z-index: 99;
}

#article {
    height: 80vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    color: unset;
}

#navbarLogo {
    width: 2vw;
    min-width: 40px;
}

#asideBar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}
